#voet {
    background-image: url("/afbeeldingen/app/voet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    color: white;

    #voetMasker {
        background-color: rgba(0,0,0,0.8);
        width: 100vw;
        padding: 50px 0;

        h4 {
            font-size: 110%;
            font-weight: normal;
            font-variant: small-caps;
            img {
                width: 32px;
                height: auto;
                display: inline-block;
                vertical-align: middle;
                margin: 0 10px;
            }
        }

    }

    ul {
        list-style: none;
        margin: 0 0 0 20px;

        li {
            border-bottom: 1px solid #333;
            a {
                color: #eee;
                text-decoration: none; 

                &:hover {
                    color: white;
                }

                &.actief,
                &.actief:hover {
                    color: yellow;
                }
            }
        }
    }
}

#kop {
    img {
        width: 56px;
        height: auto;
        margin-right : 12px;
        display: inline-block;

    }

    h1 {
        display: inline-block;
        vertical-align: middle;
        color: white;       
    }

    a {
        color: #eee;
        text-decoration: none; 

        &:hover {
            color: white;
        }

        &.actief,
        &.actief:hover {
            color: yellow;
        }
    }

}


#inhoud
{
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;

    #inhoudContainer {
        padding-top: 120px;
        .inhoudPagina {
            background-color: rgba(255,255,255,0.75);
            padding: 20px;
            border-radius: 10px;

            .inhoudPaginaBinnen {
              overflow-y: scroll;
              height: calc(100vh - 200px);

              .autoAfb {
                width: calc(100% - 15px);
                height: auto;
              }

              .card {
                color: #666;
                text-decoration: none;
                text-align: center;
                margin-bottom: 20px;
              }
            }
        }
    }
}